BBPlay.xcodeproj/xcuserdata/narex.xcuserdatad/xcschemes/xcschememanagement.plist
BBPlay.xcodeproj/project.xcworkspace/contents.xcworkspacedata
BBPlay.xcodeproj/project.xcworkspace/xcuserdata/narex.xcuserdatad/UserInterfaceState.xcuserstate
BBPlay.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
Pods/
*.xcworkspacedata
BBPlay.xcworkspace
.DS_Store
BBPlay.xcodeproj/xcshareddata
BBPlay/Generated/R.generated.swift
BBPlay.xcodeproj/xcuserdata
BBPlay/Generated/Needle.generated.swift
BBPlay.xcodeproj/project.xcworkspace/xcuserdata/alexanderperepelko.xcuserdatad/UserInterfaceState.xcuserstate
