<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>21301620107-6vca4min0af2ftthe1f3tmekc1u1ud18.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.21301620107-6vca4min0af2ftthe1f3tmekc1u1ud18</string>
	<key>API_KEY</key>
	<string>AIzaSyA7_4sWDDFv23f1cwCKaD7m8Jp1g7Hz8a4</string>
	<key>GCM_SENDER_ID</key>
	<string>21301620107</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mobi.blackbears.ios.bbplay</string>
	<key>PROJECT_ID</key>
	<string>bb-play-1c62a</string>
	<key>STORAGE_BUCKET</key>
	<string>bb-play-1c62a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:21301620107:ios:66cae1a74aaea2d34a138e</string>
</dict>
</plist>